/* style.css */

h1  {
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    background-color: #6CB26C;
}

*  {
  box-sizing: border-box;
}
.image1,
.image2 {
	height: auto;
  width: 300px;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
} 

.links {
  text-align: left;
  font-size: 36px;
}

