/* style.css */

h1  {
    display: flex;
    height: 120px;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: antiquewhite;
    font-size: 48px;
    font-weight: bold;
}

.pics {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.image1,
.image2,.image3 {
	height: auto;
  width: 300px;
  border: 3px solid darkgreen;
  border-radius: 2.5%;
}

.links {
  display: flex;
  font-size: 24px;
  justify-content: space-evenly;
}

ul {
  list-style: none;
}

